{% extends "dashboard_base.html" %}

<!-- title -->
{% block title %}Dashboard | Profile{% endblock %}

<!-- Profile Content -->
{% block dashboard_content %}
<!-- Main Content -->
<main class="flex-grow p-8">
  <h2 class="text-2xl font-bold mb-4">Profile</h2>

  <!-- Profile Card -->
  <div class="bg-slate-700 shadow rounded-lg p-6">
    <div class="flex items-center space-x-4 mb-6">
      <img
        class="w-20 h-20 rounded-full"
        src="https://images.unsplash.com/photo-1485893086445-ed75865251e0?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Profile Picture"
      />
      <div>
        <h3 class="text-xl font-bold">{{student.name}}</h3>
        <p class="text-blue-200">
          Enrollment No: {{student.enrollment_number}}
        </p>
      </div>
    </div>

    <!-- Profile Details -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <p class="text-blue-200">Email Address:</p>
        <p class="text-slate-100 font-medium">{{student.email}}</p>
      </div>
      <div>
        <p class="text-blue-200">Gender:</p>
        <p class="text-slate-100 font-medium">{{student.get_gender_display}}</p>
      </div>
      <div>
        <p class="text-blue-200">Branch:</p>
        <p class="text-slate-100 font-medium">{{student.get_branch_display}}</p>
      </div>
      <div>
        <p class="text-blue-200">Semester:</p>
        <p class="text-slate-100 font-medium">
          {{student.get_semester_display }}
        </p>
      </div>
      <div>
        <p class="text-blue-200">Contact Number:</p>
        <p class="text-slate-100 font-medium tracking-wide">
          {{student.contact_number}}
        </p>
      </div>
      <div>
        <p class="text-blue-200">Parent's Contact:</p>
        <p class="text-slate-100 font-medium tracking-wide">
          {{student.parent_contact_number}}
        </p>
      </div>
      <div>
        <p class="text-blue-200">Hostel Status:</p>
        <p class="text-slate-100 font-medium">
          {{student.get_status_display }}
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
