{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    {% tailwind_css %}
  </head>
  <body class="bg-gray-900 text-white">
    <div class="min-h-screen flex items-center justify-center">
      <form method="POST" class="bg-gray-800 p-8 rounded-lg shadow-lg w-96">
        {% csrf_token %}
        <h2 class="text-xl font-semibold text-center mb-4">Login</h2>
        {% for field in form %}
        <div class="mb-4">
          <label
            for="{{ field.id_for_label }}"
            class="block text-sm font-medium mb-1 text-gray-300"
          >
            {{ field.label }}
          </label>
          {{ field }}
          <script>
            document
              .querySelector('[name="{{ field.name }}"]')
              .classList.add(
                "w-full",
                "bg-gray-700",
                "text-white",
                "border",
                "border-gray-500",
                "rounded",
                "px-4",
                "py-2",
                "focus:outline-none",
                "focus:ring-green-500"
              );
          </script>
          {% if field.errors %}
          <p class="text-red-500 text-sm mt-1">{{ field.errors }}</p>
          {% endif %}
        </div>
        {% endfor %}
        <button
          type="submit"
          class="w-full bg-green-600 py-2 mt-4 rounded text-white hover:bg-green-700"
        >
          Log In
        </button>
      </form>
    </div>
  </body>
</html>
